<div class="grid-admin">
    <a href="/admin/ajout/<%=element.nameLink%>">
        <h2 class="select-admin">Ajouter un élément "<%=element.title%>" </h2> 
     </a>
     <a href="/admin/allElements/<%=element.nameLink%>">
         <h2 class="select-admin">Modifier / Supprimer un élément "<%=element.title%>" </h2> 
      </a>
</div>
