<div class="grid-start">
    <div class="titleimage1">
        <h2>Nouveau Better Man</h2>
    </div>
    <div class="id2">
        <form action="/admin/ajout/<%=element.nameLink%>" method="POST">
            <label>Title
                <input type="text" name="title" required>
            </label>
            <label>content
                <input type="textarea" name="content" required>
            </label>
            <label>Picture
                <input type="text" name="picture" required>
            </label>
           
            <input class="button" type="submit" value="SUIVANT">
        </form>
    </div>
</div>
