<div class="grid-concept">
    <div class="title1 conceptTitle">
        <h2>Le concept</h2>
    </div>
    <div class="pic2">
        <img src="/images/womanstairs.jpg" alt="Une petite fille qui progresse sur des escaliers">
    </div>
  
    <div class="text3">
        <h3>Libère ton plein potentiel</h3>
        <ul>
            <li>Découvre tes points forts et tes axes d'amélioration</li>
            <li>Développe ton corps et ton esprit</li>
            <li>Un suivi positif et cohérent </li>
        </ul>
        <a href="/start">
            <button class="buttoncta">Lance ton épopée</button>
        </a>
    </div>
</div>
