<div class= "error">
    <h2> Oupsie ! L'application a crashé.</h2>
    <img src="images/error.jpg" alt="In your face, mate !">
    <h4> PRO TIP: Actualise la page ou reviens en arrière que cela fonctionne :)</h4>
</div>