<div class="grid-index">
    <div class="presentation1">
        <div class="puv">
            <h2>To Build a Hero</h2>
            <h3>Surpasse-toi. Chaque jour.</h3>
            <a class="leLien" href="/start">
                <button class="buttoncta">Lance ton épopée</button>
            </a>
        </div>
    </div>
    <div class="comp purple corps2">
        <h2>Corps</h2>
        <img src="images/mainpage/brucelee.jpg" alt="un corps équilibré">
        <h3>Des défis pour développer ta puissance et ton équilibre</h3>
        <h5>#BruceLee</h5> 
    </div>
    <div class="comp yellow esprit3">
        <h2>Esprit</h2>
        <img src="images/mainpage/socrate.jpg" alt="femme assis en tailleur/penseur grec">
        <h3>Affûte ton regard sur le monde</h3>
        <h5>#Socrate</h5>
    </div>
    <div class="comp purple social4">
        <h2>Soft Skills</h2>
        <img src="images/mainpage/mlk.jpg" alt="un mic/people chatting">
        <h3>inspire les autres et change le monde </h3>
        <h5>#MLK</h5>
    </div>
    <div class="comp yellow  art5">
        <h2>Arts</h2>
        <img src="images/mainpage/painter.jpg" alt="une palette de peinture">
        <h3>Aiguise ta sensibilité au beau </h3>
        <h5>#VanGogh</h5>
    </div>
    <div class="comp purple laBase6">
        <h2>Style</h2>
        <img src="images/mainpage/stylish.jpg" alt="une maison">
        <h3>Développe ton style, affirme-toi</h3>
        <h5>#StepUp</h5>
    </div>
    <div class="comp yellow cooking7">
        <h2>Cooking</h2>
        <img src="images/mainpage/Chef.png" alt="une toque de chef cuistot">
        <h3>Apprends les meilleures recettes pour alimenter ton corps sain</h3>
        <h5>#PaulBocuse</h5>
    </div>
</div>