<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="../public/css/myhero.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <title>Quel héros es-tu ?</title>
    <body>
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item"><a href="#">Accueil</a></li>
                    <li class="nav-item"><a href="#">Deviens un Héros</a></li>
                    <li class="nav-item"><a href="#">Le Concept</a></li>
                </ul>
            </nav>
            <div class="content">
                
            </div>
            <div class="footer">
                <h3>To Build A Hero</h3>
                <h4>Be better than yesterday</h4>
                <h5>Mérignac, 33700</h5>
                <h6>Courtesy of Nass La Menace</h6>
            </div>
    </body>
</html>