<div class="grid-start">
    <div class="titleimage1">
        <h2>Cooking</h2>
        <img src="/images/questionnaire/cooking.png" alt="un joli micro">
    </div>
    <div class="quest practical2">
        <form action="/users/create/cooking" method="POST">
            <div class="qcm">
                <input id="invisibleId" type="text" name="id" value="<%= id %>">        <!--L'invisible ID pour passer l'id de page en page-->
    
                <h3 class="thequestion">Par semaine, combien de fois manges-tu équilibré ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Tous les jours
                            <input type="radio" name="healthyFood" value="5" required>
                        </label>
                        <label class="label5item">5 fois par semaine
                            <input type="radio" name="healthyFood" value="4">
                        </label>
                        <label class="label5item">1 fois sur 2
                            <input type="radio" name="healthyFood" value="3">
                        </label>
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="healthyFood" value="2">
                        </label>
                        <label class="label5item">JUNK FOOD BABY
                            <input type="radio" name="healthyFood" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion">Tu achètes de la viande chez le boucher local ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Tous le temps
                            <input type="radio" name="boucher" value="5" required>
                        </label>
                        <label class="label5item">Souvent
                            <input type="radio" name="boucher" value="4">
                        </label>
                        <label class="label5item">Parfois
                            <input type="radio" name="boucher" value="3">
                        </label>
                        <label class="label5item">Seulement pour les fêtes
                            <input type="radio" name="boucher" value="2">
                        </label>
                        <label class="label5item">Jamais
                            <input type="radio" name="boucher" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion">Tu achètes des légumes/fruits locaux chez le primeur ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Tous le temps
                            <input type="radio" name="legumes" value="5" required>
                        </label>
                        <label class="label5item">Souvent
                            <input type="radio" name="legumes" value="4">
                        </label>
                        <label class="label5item">Parfois
                            <input type="radio" name="legumes" value="3">
                        </label>
                        <label class="label5item">Seulement pour les fêtes
                            <input type="radio" name="legumes" value="2">
                        </label>
                        <label class="label5item">Jamais
                            <input type="radio" name="legumes" value="1">
                        </label>
                    </div>
            </div>
            
            <div class="qcm">
                <h3 class="thequestion">Par semaine combien de fois fais-tu un repas élaboré ? (au moins 25min au fourneaux)</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Tous les jours
                            <input type="radio" name="homeCooking" value="5" required>
                        </label>
                        <label class="label5item">5 fois par semaine
                            <input type="radio" name="homeCooking" value="4">
                        </label>
                        <label class="label5item">1 fois sur 2
                            <input type="radio" name="homeCooking" value="3">
                        </label>
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="homeCooking" value="2">
                        </label>
                        <label class="label5item">JUNK FOOD BABY
                            <input type="radio" name="homeCooking" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion">Par mois, combien de fois essayes-tu de nouvelles recettes ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="newRecipes" value="5" required>
                        </label>
                        <label class="label5item">2 fois par mois
                            <input type="radio" name="newRecipes" value="4">
                        </label>
                        <label class="label5item">1 fois par mois
                            <input type="radio" name="newRecipes" value="3">
                        </label>
                        <label class="label5item">Rarement
                            <input type="radio" name="newRecipes" value="2">
                        </label>
                        <label class="label5item">Jamais
                            <input type="radio" name="newRecipes" value="1">
                        </label>
                    </div>
            </div>


            <div class="qcm">
                <h3 class="thequestion">Par semaine, combien de fois manges-tu un plat "gourmand" ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="gourmand" value="5" required>
                        </label>
                        <label class="label5item">2 fois par mois
                            <input type="radio" name="gourmand" value="4">
                        </label>
                        <label class="label5item">1 fois par mois
                            <input type="radio" name="gourmand" value="3">
                        </label>
                        <label class="label5item">Rarement
                            <input type="radio" name="gourmand" value="2">
                        </label>
                        <label class="label5item">Jamais
                            <input type="radio" name="gourmand" value="1">
                        </label>
                    </div>
            </div>



    
                    <div class="bonus"> 
                        <label>Ton plat fétiche
                            <input type="text" name="platFetiche">
                        </label>
                    </div>
    
                    <div class="qcm">
                        <h3 class="thequestion">Un jour, tu seras...</h3>
                            <div class="multiradio-form aspiration">
                                <label class="label5item"> Un Explorateur de saveurs
                                    <input type="radio" name="aspirationCooking" value="La Voie de L'Explorateur" required>
                                </label>
                                <label class="label5item"> Le Roi du Good and Basics
                                    <input type="radio" name="aspirationCooking" value="La Voie du Terroir">
                                </label>
                                <label class="label5item"> Un Healthy Master
                                    <input type="radio" name="aspirationCooking" value="La Voie Verte">
                                </label>
                                <label class="label5item"> Un Hédoniste
                                    <input type="radio" name="aspirationCooking" value="La Voie de L'Hédoniste">
                                </label>
                            </div>
                    </div>

                    <input class="button" type="submit" value="SUIVANT">
        </form>
       
    </div>
</div>