<div class="grid-start">
    <div class="titleimage1">
        <h2>Social</h2>
        <img src="/images/questionnaire/micro.png" alt="un joli micro">
    </div>
    <div class="quest social2">
        <form action="/users/create/social" method="POST">
            <div class="qcm">
                <input id="invisibleId" type="text" name="id" value="<%= id %>">           <!--L'invisible ID pour passer l'id de page en page-->
                <h3 class="thequestion">Tu vois tes amis...</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Plus d'1 fois par semaine
                            <input type="radio" name="frequenceAmi" value="5" required>
                        </label>
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="frequenceAmi" value="4">
                        </label>
                        <label class="label5item">1 fois tous les 15 jours
                            <input type="radio" name="frequenceAmi" value="3">
                        </label>
                        <label class="label5item">1 fois par mois
                            <input type="radio" name="frequenceAmi" value="2">
                        </label>
                        <label class="label5item">moins d'1 fois par mois
                            <input type="radio" name="frequenceAmi" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion">Combien de nouvelles connaissances/amis t'es-tu fais cette année ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Plus de 10
                            <input type="radio" name="connaissances" value="5" required>
                        </label>
                        <label class="label5item">7 - 10
                            <input type="radio" name="connaissances" value="4">
                        </label>
                        <label class="label5item">3 - 7
                            <input type="radio" name="connaissances" value="3">
                        </label>
                        <label class="label5item">1 - 3
                            <input type="radio" name="connaissances" value="2">
                        </label>
                        <label class="label5item">Aucune
                            <input type="radio" name="connaissances" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion"> Combien de sorties fais-tu par mois ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Plus d'1 fois par semaine
                            <input type="radio" name="sorties" value="5" required>
                        </label>
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="sorties" value="4">
                        </label>
                        <label class="label5item">1 fois tous les 15 jours
                            <input type="radio" name="sorties" value="3">
                        </label>
                        <label class="label5item">1 fois par mois
                            <input type="radio" name="sorties" value="2">
                        </label>
                        <label class="label5item">moins d'1 fois par mois
                            <input type="radio" name="sorties" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion">Cette année, combien d'escapades/WE/voyages as-tu fais ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">+ de 5
                            <input type="radio" name="escapade" value="5" required>
                        </label>
                        <label class="label5item">3 - 5
                            <input type="radio" name="escapade" value="4">
                        </label>
                        <label class="label5item">2
                            <input type="radio" name="escapade" value="3">
                        </label>
                        <label class="label5item">1
                            <input type="radio" name="escapade" value="2">
                        </label>
                        <label class="label5item">Aucun
                            <input type="radio" name="escapade" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion">Au niveau de tes activités/sorties, tu...</h3>
                    <div class="multiradio-form">
                        <label class="label5item">cherches l'adrenaline
                            <input type="radio" name="adrenaline" value="5" required>
                        </label>
                        <label class="label5item">sors souvent de ta zone de comfort
                            <input type="radio" name="adrenaline" value="4">
                        </label>
                        <label class="label5item"> 50% aventure / 50% posé
                            <input type="radio" name="adrenaline" value="3">
                        </label>
                        <label class="label5item">privilégies les activités que tu connais
                            <input type="radio" name="adrenaline" value="2">
                        </label>
                        <label class="label5item">faire des activités plutôt "posées"
                            <input type="radio" name="adrenaline" value="1">
                        </label>
                    </div>
            </div>

            <div class="qcm">
                <h3 class="thequestion">Pour toi, prendre la parole en public, c'est...</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Un plaisir sans pareil
                            <input type="radio" name="speaker" value="5" required>
                        </label>
                        <label class="label5item">Plutôt kiffant
                            <input type="radio" name="speaker" value="4">
                        </label>
                        <label class="label5item">Sans plus
                            <input type="radio" name="speaker" value="3">
                        </label>
                        <label class="label5item">Un mauvais moment à passer
                            <input type="radio" name="speaker" value="2">
                        </label>
                        <label class="label5item">Un supplice
                            <input type="radio" name="speaker" value="1">
                        </label>
                    </div>
            </div>

            <div class="qcm">
                <h3 class="thequestion">Par semaine combien de fois travailles-tu ton élocution (2mn minimum)</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Tous les jours
                            <input type="radio" name="elocution" value="5" required>
                        </label>
                        <label class="label5item">3 fois par semaine
                            <input type="radio" name="elocution" value="4">
                        </label>
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="elocution" value="3">
                        </label>
                        <label class="label5item">Très rarement
                            <input type="radio" name="elocution" value="2">
                        </label>
                        <label class="label5item">Jamais
                            <input type="radio" name="elocution" value="1">
                        </label>
                    </div>
            </div>
            <div class="bonus"> 
                <label>La personne la plus charismatique du monde:
                    <input type="text" name="charismaGuy">
                </label>
            </div>

            <div class="qcm">
                <h3 class="thequestion">Un jour, tu seras...</h3>
                    <div class="multiradio-form aspiration">
                        <label class="label5item"> Un grand Orateur
                            <input type="radio" name="aspirationSocial" value="La Voie de L'Orateur" required>
                        </label>
                        <label class="label5item"> Un Super Socializer (Aimant à Potes)
                            <input type="radio" name="aspirationSocial" value="La Voie du Socializer">
                        </label>
                        <label class="label5item"> Un réseauteur hors-pair
                            <input type="radio" name="aspirationSocial" value="La Voie du Réseauteur">
                        </label>
                        <label class="label5item"> Un Aventurier Audacieux
                            <input type="radio" name="aspirationSocial" value="La Voie de L'Aventurier">
                        </label>
                    </div>
            </div>
            
            <input class="button" type="submit" value="SUIVANT">
        </form>
        
    </div>
</div>