<div class="grid-start">
    <div class="titleimage1">
        <h2>Qui es-tu</h2>
        <img src="images/questionnaire/questionmark.png" alt="un gros point d'interrogation. Décline ton identité">
    </div>
    <div class="id2">
        <form action="/users/create" method="POST">
            <label>Prénom
                <input type="text" name="prenom" required>
            </label>
            <label>Nom
                <input type="text" name="nom" required>
            </label>
            <label>email
                <input type="email" name="email" required>
            </label>
            <label>Mot de passe
                <input type="password" name="password" required>
            </label>
            <label>Âge
                <input type="text" name="age" required>
            </label>
                <label>Ville
                <input type="text" name="ville" required>
            </label>
            <label>Ton super-pouvoir
                <input type="text" name="superpouvoir" required>
            </label>
            <label>Ta couleur
                <input type="color" name="couleur">
            </label>
            <input class="button" type="submit" value="SUIVANT">
        </form>
    </div>
</div>