<div class="grid-admin">
    <a href="index/ActiviteCorps">
        <h2 class="select-admin adminCorps">Corps</h2> 
     </a>
     <a href="index/ActiviteEsprit">
         <h2 class="select-admin adminEsprit">Esprit</h2> 
      </a>
      <a href="index/ActiviteSocial">
         <h2 class="select-admin adminSocial">Social</h2> 
      </a>
      <a href="index/ActiviteArts">
         <h2 class="select-admin adminArts">Arts</h2> 
      </a>
      <a href="index/ActiviteStyle">
         <h2 class="select-admin adminStyle">Style</h2> 
      </a>
      <a href="index/ActiviteCooking">
         <h2 class="select-admin adminCooking">Cooking</h2> 
      </a>
</div>
