<div class="the-form">
    <h1 class= title-login>Reprendre l'Aventure</h1>
    <form class="login-form" action="/users/login" method="POST">
        <label>Email
            <input type="email" name="email" required>
        </label>
        <label> Mot de Passe
            <input type="password" name="password" required>
        </label>
        <input type="submit" value="Go !">
    </form>
</div>
