<div class="grid-results">
    <div class="titleimage1">
        <h2 id="result-title">Tes Objectifs</h2>
        <h3>Ici, commence ta quête...</h3>
    </div>


    <% for (let i = 0; i < groupe.length - 1; i++) {   %>               <!-- -1 pour afficher l'ensemble des sections sauf la section fantôme -->
    <div class="pointsCooking6">
        <h3 class="aspiration"><%=groupe[i].titrePage%></h3>
        <div class="archetype">
            <img src="<%= `/images/questionnaire/${groupe[i].namePic} `%>" alt="<%= groupe[i].namePicAlt %>">
            <div class="details-aspiration">
                <% for (let j = 0; j < groupe[i].objectifsUser.length; j++) {   %>
                 <h3><%=groupe[i].objectifsUser[j].title %></h3>
                 <% } %>                
             </div>
         </div>
    <% } %>
         <div class="validation">
            <a href="/users/login" id="start-button">Let's Go !</a>  
         </div>
    </div>



</div>