<div class="grid-admin">
   <%  for (let i = 0; i < categories.length - 1; i++) { %>                   <!-- categories.length - 1 pour éviter la catégorie Fantôme -->
      <a href="/users/resultats/<%= currentUser.id %>/<%=categories[i].sectionName %>">
         <h2 class="select-admin adminCorps"><%=categories[i].titrePage %></h2> 
      </a>
    <% } %>
</div>
