<div class="grid-admin">
    <a href="activites/create">
        <h2 class="select-admin adminChoice">Ajouter Activité</h2> 
     </a>
     <a href="activites/categorieIndex">
         <h2 class="select-admin adminChoice">Modifier Activité</h2> 
      </a>
</div>
