<div class="grid-admin">
    <h2>Les Activités Disponibles</h2>
        <% activite.forEach(defi => { %>
            <div class="intitule-admin">
                <h3>Titre</h3>
                    <div><%= defi.titre %></div>
                <h3>Sous-Catégorie</h3>
                    <div><%= defi.sousCategorie %></div>
                <h3>Points d'EXP</h3>
                    <div><%= defi.totalPtsExp %></div>
                <h3>EDITER</h3>
                    <div><a href="">Modifier</a></div>
                <h3>SUPPRIMER</h3>
                    <div><a href="" onclick="return confirm('Voulez-vous supprimer cette activité ?')">Supprimer</a></div>
            </div>
            <% }); %>
</div>
