<div class="grid-admin">
    <h2>Les Activités Disponibles</h2>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Sous-Catégorie</th>
                <th>Points d'EXP</th>
            </tr>
        </thead>
        <tbody>
            <% activite.forEach(defi => { %>
                <tr>
                    <td><%= defi.titre %></a></td>
                    <td><%= defi.sousCategorie %></td>
                    <td><%= defi.totalPtsExp %></td>
                    <td><a href="">Modifier</a></td>
                    <td><a href="" onclick="return confirm('Voulez-vous supprimer cette activité ?')">Supprimer</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
